html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #E1EFFF;
    font-size: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 15.5rem;
    font-size: 4rem;
    color: #245D9E;
}

h4 {
    font-size: 2.2rem !important;
    margin: 1.5rem auto 0;
    color: #245D9E;
}

h3 {
    font-size: 3rem;
    margin-top: .5rem;
}

.quiz {
    width: 80rem;
    margin: 2rem auto;
    max-width: 95%;
}

.quiz__header {
    display: block;
    text-align: center;
    width: 100%;
    padding: 3rem;
    height: 17rem;
    background-color: #4F91DE;
    margin: 2rem auto 0;
    color: white;
    padding: .1rem 0;
    border: .3rem solid #245D9E;
    border-radius: .5rem;
}

.quiz__answers {
    width: 75rem;
    margin: 5rem auto;
}

.quiz__answers--list {
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.quiz__answers--item {
    width: 25rem;
    margin: 1rem;
    text-align: center;
    background: #4F91DE;
    font-size: 2.2rem;
    color: white;
    border: .3rem solid #245D9E;
    border-radius: .5rem;
    transition: all .3s;
    padding: 2rem;
}

.quiz__answers--item:hover {
    cursor: pointer;
    background: #245D9E;
}

button {
    padding: 1.3rem 4.5rem;
    border: none;
    background-color: #245D9E;
    color: white;
    border-radius: .3rem;
    font-size: 1.7rem;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

h5 {
    font-size: 3rem;
    margin: 2rem auto 3rem;
}

/* MEDIA QUERIES */
@media(max-width: 825px) {
    .quiz__answers--item {
        width: 100%;
    }

    .quiz__header {
        height: auto;
    }

    .quiz__answers {
        width: 100%;
    }

    .quiz__question h3 {
        font-size: 2.5rem;
    }
}







